.sec-skills-icons,
.skills-icons {
    bottom: 0 !important;
    color: #f5f5f5;
    list-style-type: none;
    horiz-align: center;
    vertical-align: center;
    align-items: center;
    display: inline-block;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
    text-align: center;
    background-color: #263238;
    margin: 2.5rem;
    border-radius: 25px;
}

.sec-skills-icons {
    font-size: 1em;
    text-align: center;
}

.skills-div {
    align-items: center;
    text-align: center;
}


.main-skills-h1,
.complementary-skills-h1 {
    width: 100%;
    overflow: hidden;
    vertical-align:middle;
    color: #f5f5f5;
    background-color: #66806A;
    padding: 5px;
}

.skills-icons-ul {
    padding: 10px 0 10px 0;
}

.pskills-icons {
    margin: 0;
}
