@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@250;300&display=swap');
body {
    margin: 0;
    font-family: "Raleway", serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #99A799;
}
