@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@250;300&display=swap');

html, body {
    margin: 0;
    font-family: "Raleway", serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #e5e3e3; /* Light grey background for a clean, minimalist look */
    color: #263238; /* Dark grey text for better visibility */
    display: flex;
    flex-direction: column;
}

#root {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* General Card Style */
.about-card {
    max-width: 1200px;
    width: 90%;
    background-color: #ffffff; /* White background for cards */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border-radius: 8px; /* Rounded corners for a modern look */
    padding: 16px; /* Consistent padding inside cards */
}

/* Heading Style */
.heading {
    font-size: 2rem;
    text-align: center;
    color: #263238; /* Dark grey color for headings */
    padding: 2rem 0;
}

/* Typewriter Effect */
.Typewriter {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #757575; /* Light grey color for typewriter text */
}

/* Responsive Adjustments */
@media screen and (max-width: 499px) {
    html {
        font-size: 0.8em;
    }

    .heading {
        padding: 2rem 0;
        text-align: center;
        padding-bottom: 1rem;
    }

    .Typewriter {
        font-size: 0.8rem;
        margin-bottom: 2rem;
    }
}

/* Links */
a {
    color: #1e88e5; /* Subtle blue color for links */
    text-decoration: none;
}


/* Button Styles */
button {
    background-color: #263238; /* Dark grey button background */
    color: #ffffff; /* White text on buttons */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #1e88e5; /* Blue background on hover */
}
